{% extends 'core/base.html' %} {% load static %} {% block content %}

<div class="container mt-5 ">
  <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

  <div class="row text-white text-center mt-5 ">
    <div class="col-sm-4">
      <i class="fas fa-search-dollar fa-2x mb-2 i-color "></i>
      <h3>SEO</h3>
      <p class="ss-color">
        Boosts online visibility, drives traffic, improves search rankings,
        enhances credibility.!
      </p>
    </div>

    <div class="col-sm-4">
        <i class="fas fa-palette r fa-2x mb-2 i-color"></i>
        <h3>Web Design</h3>
        <p class="ss-color">
            Creating user-friendly, visually appealing websites for optimal online experiences.
        </p>
      </div>

      <div class="col-sm-4">
        <i class="fas fa-code fa-2x mb-2 i-color "></i>
        <h3>Web Development</h3>
        <p class="ss-color">
            Building functional, interactive websites through coding and programming skills.
        </p>
      </div>

      <div class="row text-white text-center mt-5 ">
        <div class="col-sm-4">
          <i class="fab fa-brand fa-android fa-2x mb-2 i-color "></i>
          <h3>Android</h3>
          <p class="ss-color">
            Mobile app development for Android devices using Java/Kotlin programming.
          </p>
        </div>
    
        <div class="col-sm-4">
            <i class="fab fa-apple r fa-2x mb-2 i-color"></i>
            <h3>IOS</h3>
            <p class="ss-color">
              iOS app development using Swift/Objective-C for Apple devices and App Store.
            </p>
          </div>
    
          <div class="col-sm-4">
            <i class="fas fa-ad fa-2x mb-2 i-color "></i>
            <h3>Advertisiment </h3>
            <p class="ss-color">
              Targeted ads for effective marketing and increased customer engagement.
            </p>
          </div>
          <div class="row text-white  text-center mt-5">
            <div class="col-sm-4">
              <i class="fas fa-pencil-alt fa-2x mb-2 i-color "></i>
              <h3> Logo-Design </h3>
              <p class="ss-color">
                Distinctive logos communicate brand identity and leave a memorable impression.
              </p>
            </div>
        
            <div class="col-sm-4">
                <i class="fas fa-database fa-2x mb-2 i-color"></i>
                <h3>Hosting</h3>
                <p class="ss-color">
                  Server space for hosting websites and making them accessible online.
                </p>
              </div>
        
              <div class="col-sm-4">
                <i class="fas fa-headset fa-2x mb-2 i-color "></i>
                <h3>Support</h3>
                <p class="ss-color">
                  Assistance and guidance to resolve issues and provide solutions promptly.
                </p>
              </div>




  </div>

  {% endblock content %}
</div>
