{% extends 'core/base.html' %}

{% load static %}
{% block content  %}
<div class="container mt-5">

<h1 class="text-warning border-bottom mb-5"> SKILLS</h1>
<div class="row text-white ">
    <div class="col-sm-5">

        <h3 class="mt-5">HTML?CSS</h3>
        <div class="progress">

            <div class="progress-bar bg-danger " role="progressbar " style="width:100% " aria-valuenow="100 aria-valumin=0" aria-valuemax="100">100?
    
            </div>

        </div>
    </div>

    <div class="col-sm-5 offset-sm-1">

        <h3 class="mt-5">JavaScripts</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success   " role="progressbar" style="width:90% " aria-valuenow="95" aria-valumin="0" aria-valuemax="100">100?
    
            </div>
        </div>
    </div>




    <div class="col-sm-5">

        <h3 class="mt-5">JavaProgramming </h3>
        <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated    " role="progressbar " style="width:93% " aria-valuenow="100 aria-valumin=0" aria-valuemax="100">93?
    
            </div>

        </div>
    </div>

    <div class="col-sm-5 offset-sm-1">

        <h3 class="mt-5">Python</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success   " role="progressbar" style="width:90% " aria-valuenow="95" aria-valumin="0" aria-valuemax="100">100?
    
            </div>
        </div>
    </div>

    <div class="col-sm-5">

        <h3 class="mt-5">Django</h3>
        <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger   " role="progressbar " style="width:80% " aria-valuenow="100 aria-valumin=0" aria-valuemax="100">100?
    
            </div>

        </div>
    </div>

    <div class="col-sm-5 offset-sm-1">

        <h3 class="mt-5">Sql</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width:66% " aria-valuenow="95" aria-valumin="0" aria-valuemax="100">100?
    
            </div>
        </div>
    </div>

    <div class="col-sm-5">

        <h3 class="mt-5">Dart</h3>
        <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success   " role="progressbar " style="width:78% " aria-valuenow="100 aria-valumin=0" aria-valuemax="100">100?
    
            </div>

        </div>
    </div>

    <div class="col-sm-5 offset-sm-1">

        <h3 class="mt-5">React</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info   " role="progressbar" style="width:80% " aria-valuenow="95" aria-valumin="0" aria-valuemax="100">100?
    
            </div>
        </div>
    </div>
    
</div>
</div>
{% endblock content  %}